@use 'sass:math'
@use 'variables' as *
@use 'config' as *


$min-font: math.div($min-font-size, 16)
$max-font: math.div($max-font-size, 16)

$min-vw: math.div($min-screen-size, 16)
$max-vw: math.div($max-screen-size, 16)

// Type Scale Function
@function type-scale($step, $base, $scale)
  @return $base * math.pow($scale, $step)

// Slope Function
@function slope($min-size, $max-size, $min-viewport, $max-viewport)
  @return math.div(($max-size - $min-size), ($max-viewport - $min-viewport))

// Intercept Function
@function intercept($min-size, $slope, $min-viewport)
  @return $min-size - ($slope * $min-viewport)

$slope: slope($min-font, $max-font, $min-vw, $max-vw)

$intercept: intercept($min-font, $slope, $min-vw)

// Mobile
@function rem($m)
  @return #{math.div($m, $max-font-size)}rem

// Ems
@function em($em)
  @return #{math.div($em, $max-font-size)}em