<!DOCTYPE html>
<html id="page" lang="{{ .Site.LanguageCode }}" prefix="og: https://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    <main class="[ main ][ full-width content-grid ]{{- if eq .Page.Kind "404" -}}[ error ]{{- end -}}" id="main">
      {{- block "main" . -}}{{- end -}}
      {{ block "template" . }}{{ end }}
    </main>
    {{- partial "footer.html" . -}}
    <script src="/scripts/app-{{ .Site.Params.Version }}.min.js" defer></script>
    {{- if or .IsHome ( .Store.Get "hasObscure" ) }}
    <script src="/scripts/obscure-{{ .Site.Params.Version }}.min.js"></script>
    {{- end -}}
    {{- if .Store.Get "hasCode" -}}
    <script src="/scripts/prism-{{ .Site.Params.Version }}.min.js" defer></script>
    {{- end -}}
    {{- if .Store.Get "hasYouTube" -}}
    <script type="module" src="/scripts/lite-youtube-{{ .Site.Params.Version }}.min.js" defer></script>
    {{- end -}}
  </body>
</html>