@use '../abstracts' as *
  
.navbar
  padding:
    top: 1.5em
    bottom: 1em

  &__logo
    display: flex
    width: min(#{rem(200)}, #{rem(300)})
    // +clamp(max-width, 200, 300)

    > span
      width: inherit

    @media(max-width: #{em(800)})
      +clamp(width, 30,50)  

  &__info
    text-align: center

  &__weather
    display: none
    text-align: right

    &__info
      order: 2

  +breakpoint(tablet)
    &__top
      grid-template-columns: [info-start] 1fr [info-end branding-start] 1fr [branding-end weather-start] 1fr [weather-end]

    &__branding
      grid-column: branding
      display: grid
      grid-template-columns: 1fr [desktop-start] minmax(#{rem(200)},#{rem(300)}) [desktop-end] 1fr

    &__logo
      grid-column: desktop

    &__info
      grid-column: info
      text-align: left

    &__weather
      display: block
      grid-column: weather

  &__branding
    @media(max-width: #{em(800)})
      background-color: var(--black)

.mobile
  display: none

  @media(max-width: #{em(800)})
    display: inline-flex

.desktop

  @media(max-width: #{em(800)})
    display: inline-flex


.navigation
  padding-top: 0.75em

  @media(max-width: #{em(800)})
    display: none
    visibility: hidden

.nav
  height: inherit

.menu
  column-gap: 1em
  padding: 0.25em 0
  
  +breakpoint(tablet)
    width: em(700)
    justify-content: space-between
    
  &__link
    color: var(--black)
    padding: 0.25em 0
    border: 0.2em
    position: relative
    +transition((color, background-color))

    +hover
      color: var(--white)
      background-color: var(--black)

    &.current
      // color: var(--white)
      background-color: var(--background)
      position: relative      

.line
  display: block
  height: em(1)
  background-color: var(--border)

  &--top
    margin-bottom: 0.1em


