<footer class="[ footer full-width content-grid ]">
  <div class="[ wrapper ][ py--5 ]">
    <div class="[ grid ]">
      <a class="[ logo ]" href="/" title="Home" aria-label="Home" data-prefetch>
        {{- readFile "static/icons/logo.svg" | safeHTML }}
      </a>

      <p>
        <small>The Bahamas’ Leading Source for News, Business, Sports, and Insights.</small>
      </p>

    </div>
    <nav>
      <ul>
        {{ range $key, $category := .Site.Data.categories }}
          <li>
            <a href="{{ .url }}">{{ .name }}</a>
            
            {{ if .subcategories }}
              <ul>
                {{ range .subcategories }}
                  <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
    
          </li>
        {{ end }}
      </ul>
    </nav>
    <ul class="[ social ][ flex ]">
      <!-- <li class="[ social__item ]">
      <a class="[ social__link ]" href="https://youtube.com/channel/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on YouTube">

      </a></li> -->
      <!-- <li class="[ social__item ]">
        <a class="[ social__link ]" href="https://www.facebook.com/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on Facebook">
         </a>
        </li> -->
      <!--<li class="[ social__item ]">
        <a class="[ social__link ]" href="https://instagram.com/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on Instagram">

        </a>
      </li>-->
      <li class="[ social__item ]">
        <a class="[ social__link ]" href="https://x.com/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on X (formerly Twitter)">
          {{ readFile "static/icons/x.svg" | safeHTML }}
        </a>
      </li>
      <li class="[ social__item ]">
        <a class="[ social__link ]" href="https://www.linkedin.com/in/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on LinkedIn">
        {{ readFile "static/icons/linkedin.svg" | safeHTML}}
        </a>
      </li>
      <li class="[ social__item ]">
        <a class="[ social__link ]" href="https://github.com/jsphpndr" target="_blank" rel="noopener" aria-label="Follow me on GitHub">
          {{ readFile "static/icons/github.svg" | safeHTML }}
        </a>
      </li>
    </ul>
  </div>
  <div class="[ copy ][ flex ]"><small>© {{ now.Format "2006" }} Joseph Pinder. All rights reserved.</small>
    <nav> 
      <ul>
        <li> <a class="[ link ]" href="/accessibility-statement"> <small>Accessibility Statement</small></a></li>
        <li> <a class="[ link ]" href="/privacy-policy"> <small>Privacy Policy</small></a></li>
      </ul>
    </nav>
  </div>
</footer>